*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

h1{
    font-size: 3rem;
    padding: 20px 0;
}


h3{
    font-size: 1.9rem;
    padding: 20px 0;
}

.org-color{
    color: #ec7265;
}

.btn-cls{
  text-decoration: none;
  background: linear-gradient(to left,salmon,orange);
  padding: 14px 38px;
  font-weight: bold;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
}

/*banner section starts from here*/
#banner-section{
    display: flex;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 50px;
 }
 
 .text-section{
     width: 50%;
     padding:2% 6%;
 }
 
 .img-section{
     width: 50%;
 
 }
 
 .img-section img{
     width: 80%;
 } 
/*banner section ends from here*/

/*dream section starts from here*/
#dream-section{
    display: flex;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}
/*dream section ends from here*/

/*experience section starts from here*/
#experiene-section{
    padding: 2% 4%;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    
}

.developer-section{
    display: flex;
}

.developer-section h2{
    font-size: 2rem;
}

.developer-section h4{
    font-size: 1.4rem;
    padding: 15px 0;
    
}
.fullstack-section{
    width: 50%;
    padding: 20px;
    box-shadow: 2px 8px 23px black;
    margin: 20px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;

}

.baby-section h4{
    font-size: 1.4rem;
    padding: 15px 0;
   
}

.baby-section{
    width: 50%;
    padding: 20px;
    box-shadow: 5px 7px  23px black;
    margin: 20px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, hsl(256, 69%, 49%), #14d4d4);
    border-image-slice: 1;
}
/*experience section ends from here*/

/*footer starts from here*/
footer{
    text-align: center;
    padding:15px;
}
/*footer ends from here*/

